.welcome-header-text {
    text-align: center;
    font-family: 'system-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to right, #4CAF50, #45a049); 
    color: white; 
    padding: 20px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease-in-out; /* Add a subtle transition effect */
  }
  
  /* Media query for screens smaller than 600px (adjust as needed) */
  @media (max-width: 600px) {
    .welcome-header-text {
      font-size: 1.5em; /* Adjust the font size for smaller screens */
      /* Add any additional styles for smaller screens */
    }
  }
  
  .welcome-header2-text {
    text-align: center;
    font-family: 'system-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: green;
    /* Add more cool styles if needed */
  }
  

  .welcome-p-text {
    text-align: center;
    font-family: 'system-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  /* Media query for screens smaller than 600px (adjust as needed) */
  @media (max-width: 600px) {
    .welcome-p-text {
      font-size: 0.9em; /* Adjust the font size for smaller screens */
      /* Add any additional styles for smaller screens */
    }
  }
  
  /* Additional cool styles */
  .welcome-p-text {
    padding: 10px; /* Add some padding for a better look */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Subtle box shadow for a cool effect */
    /* Add more cool styles if needed */
  }

  
  .welcome-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    font-family: 'system-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, #4CAF50, #45a049); /* Green gradient background */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  /* Media query for screens smaller than 600px (adjust as needed) */
  @media (max-width: 600px) {
    .welcome-btn {
      font-size: 0.9em; /* Adjust the font size for smaller screens */
      padding: 8px 16px; /* Adjust padding for smaller screens */
      /* Add any additional styles for smaller screens */
    }
  }
  
  .welcome-btn:hover {
    background: linear-gradient(to right, #45a049, #4CAF50); /* Change the gradient on hover */
  }
  
  .btn{
    display: flex;
    justify-content: center;
  }

  .image-settings{
    height: 350px;
    width: 100%;
  }